.heading {
  font-weight: 600;
  padding: 12px;
  letter-spacing: 10px;
}
.paragraph {
  font-weight: 100;
  padding: 12px;
}

.outro {
  padding: 12px;
}

.emphasis {
  color: rgb(255, 162, 0);
}

.textcolor {
  color: white;
}
