.size {
  width: 120px !important;
  text-align: center;
}

@media (max-width: 991.98px) {
  .size {
    width: 5.8rem !important;
    font-size: 12px !important;
  }
  .txtsize {
    font-size: 13px !important;
  }
}
